/* frontend/css/styles.css */

/* Ajustes generales */
body {
    font-family: 'Inter', sans-serif;
  }
  
  /* Ajustes extra a las cards */
  .ticket-card {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .ticket-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  